body{
    margin: 0;
    padding: 0;
    /* background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: steelblue;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main2{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
}

.subDiv1{
    width: 40%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
    border-radius: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.allData{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    /* border: 2px solid red; */
}

.signUpHeading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #202020;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
}

#email, #logInEmail{
    width: 90%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.24);
    margin: 20px 0;
    padding: 10px 10px 10px 20px;
    font-size: 2rem;
    color: #eee;
}

::placeholder {
    color: rgba(255, 255, 255, 0.479);
    opacity: 1; 
  }

#password, #logInPassword{
    width: 90%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.24);
    margin: 20px 0;
    padding: 10px 10px 10px 20px;
    font-size: 2rem;
    color: #eee;
}

.submitDiv{
    /* border: 2px solid red; */
    margin: 30px 0;
    padding: 20px 10px;
    width: 80%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    border: 1px solid whitesmoke;
    font-size: 1.9rem;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

.modelDiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50vh;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: whitesmoke;
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    display: none;
}

@media (max-width: 960px){
    .subDiv1{
        width: 80%;
    }
}

@media (max-width: 450px){
    .subDiv1{
        width: 100%;
        padding: 0px;
    }
    .allData{
        width: 100%;
        padding: 0px;
    }
}